.map {
    cursor: default;
    height: 100em;
    margin: 0!important;
    padding: 0!important;
    width: 100%;
    z-index:0;
}
#timeline {

    opacity: 0.8;
    height: 70% ;
}
.filterButton {
    top: 65px;
    left: .5em;
}

.editButton {
    top: 95px;
    left: .5em;
}

.ol-touch.filterButton {
    top: 80px;
}

.ol-touch.editButton {
    top: 110px;
}